{% extends "portfolio/base.html" %}
{% block title %}Create a new Article{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Add Article</h3>
        <hr>
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <br>
            <button type = "submit" class = "btn btn-danger">Post</button>
        </form>
    </div>
</div>
<script>
    var name = "{{ user.id }}";
    document.getElementById("zayyad").value = name;
</script>

{% else %}
You are not allowed on this page
{% endif %}


{% endblock %}